*.cfg
*.dcu
*.drc
*.dsk
*.exe
*.identcache
*.local
*.map
*.~dpr
*.~pas
*.~bpg
*.~dsk
*.~inc
*.~dfm
*_MemoryManager_EventLog.txt
__history
.DS_Store
Thumbs.db
bonjour.*.res
rtl.*.res
selftest.*.res
/+tests/tokeniser/projects/*.res
/+tests/rtl/*.$$$
/+tests/rtl/projects/*.tmp
/smoketest/*.ddp
/+tests/*.tvsconfig
/+tests/rtl/projects/*.stat
/+tests/rtl/projects/*.tvsconfig
/tokeniser/documentation/*.zargo
/tokeniser/documentation/*.zargo~
